<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="shopifySecurityConfiguration" type="System.Configuration.SingleTagSectionHandler" />
    <section name="acumaticaSecurityConfiguration" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=Bundler;Trusted_Connection=True;" />
  </connectionStrings>

  <!-- 3D Universe - Macbook Pro
  <shopifySecurityConfiguration 
    ApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAADkwACFALJGH3w9h+KCmB6bgVcTdlxP/dbQj/gHQPAsiwAAAAAOgAAAAAIAACAAAAAB5r8O4/OVqbtDI1jxqgG1dm0DcVor+8JhXctYdslrmlAAAAD3pJGxi7VKELD1KlJJuawB1M6UcQIgwDeE1da9isIBu8cmZyBHzvK+m0JdXqrgQojBMAW9noKkVM/x2zSphgETJwUGTcsHNfKScgIBLyGMz0AAAADs2+9+4FNqQws3slbSovTPYT2GiTOhlicN+GxBb+Nm9K9I9SCSBeai18HKcGARpdULIfAB2EjxS25NXqgecUI2" 
    ApiPassword="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAADXWDexFNUrcHdQf41g6TzDzGOl9J07hrfIIgHXUowaaAAAAAAOgAAAAAIAACAAAACpF9Si5JNe0h4YiPU1MUml2fSuyiBw0xA1GaAzVMxqr1AAAACUXRHP7QhVn3qsioVsArWMiqs83/ZtLBt2tFKQUiArE8Os/UW6+F2I2Y1dx5+Jd7x4pUwjkHGjzWZzDbma7sB5sl1u25V/24ZXArvWIdGDcUAAAADT3h47UJdZRDLddWKRZm8ouqqwW+3cyOvnNR7u4Rrefrc0MirdZ6MLImAOU+MWcvpOBKL/L8aFveyMztHPMIsA" 
    ApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAAAlijG7Md8y8YRLfvN4BSjrEoMBYlKGBT+3liampjfpgAAAAAAOgAAAAAIAACAAAABL+nHpSjv7rxhqCRxady79f9IYaz7LoapFHCpkMr880FAAAACBHEIEaZTllrG75J53nZHv+qqRAi17ebxPIZ5Upw0dBU5BDR9zuND44SH1dVphOUbFCHj9A1s3LMqCqspH1m8+W6AebDaHUCkwVncQNFo6EUAAAABfUOB5t8/NTTZVXwPXcNDm81KIumHbBQkmb8eQgYKg/m2712Wc6dZ6Fo6nDyQJ+DVe9jLKanlgwvjEPmh5z25F" 
    PrivateAppDomain="3duniverse.myshopify.com"                        
    EncryptKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAAAc4qtVx2Ql889iIA3MzhZrQdf6A4hGFwBZenVAL60RiQAAAAAOgAAAAAIAACAAAACjMLIbB3hw9Zozhgn8ufMie9Muj9bCLyL2rfUrcPsZrVAAAABwwJxN8u5CNmfux7UalNrGicGj99Z05HOJh6HR3vANt+8HzVNZQtMh5oHWyj5gZKFk3MbOIBZOLIeq1yHntrF2+Hb7lR5ZZt3PyAwCFwAGwEAAAAB375MWb2saIIngqplYwjPJBnOSZ5mpblJArqO/4xN1rujWFDSB1qvlYKEB24o5s/WUAeiuVvaY6w3uUJGggeiy"                        
    EncryptIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAACmDK2neiI9cz7fSq+rpT4V4U2SS6c5McbOtDkfuTrshAAAAAAOgAAAAAIAACAAAABxKHKdbqS3MHVSaO9SvGvZPw5wn+nGPZ4vE7fHGoEhOjAAAABlHmzAckF6lYE8kQZL48nW43zGAmShOiCtL6fx3S/JDOwTYmTpCkImIGlulVk5AMNAAAAA5JgtgcrQoyXxn40xMNPTgt/4oadg17EqaiGoguDwmL6YgeVkiv/GYTpvuNwZrJ6uhSH/xtqM1WdwOgn8d4WxVQ==" /> -->
  
  <!-- Bridge-Over-Monsters - Macbook Pro -->
  <shopifySecurityConfiguration 
        ApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAABN3w5wJlqCAxR7rjvMQF7NeYl7vE2NocyCN2whvEJktAAAAAAOgAAAAAIAACAAAAB7jTJhw+R0RQEf4c2DbJeU7YdXaKKALAqeIfF+8x4GL1AAAADYnOH0mEaiw/r8pJV+zE56XsOJ+oMiBiySvtPnRUZ3aFqwYx/8r6xdVkaQrG/7Juf0/drm6IVN+mPre+LoWf0jpvQ8+sXM41x2HLbczaUtuEAAAADqen/M/WownO0k6Sj4icLIFsLL2FfUnw6XaatVz38YYXEG3Buw5Eqa+7DS5VrldD974ar/D02kpeKdk3zG0u6i" 
        ApiPassword="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAAAoPNU+x9uxmHMJhbXWRY2+iCNpieTdFiDVE4kpUQx2UQAAAAAOgAAAAAIAACAAAADvBm7DaEEZXZYJfAkN3pGvk3tdax6RsfjUM8pImcqy6VAAAAAUohIvTCAss+5BrR1m6Eghdz+fZ4MWbZY6L6/JgIc8yPQfLU/I5JvujKp7cW0sdj4koOtjtzpEcpk6AKbp9RYfcb4L2scDIwzPuB2CwMxRnkAAAAAmN07bddPVb/2UVUDT783s6aFJoM6cQmqdcH3GugPyVCVNZqAjou0mTQkXQlTEoY6TS+b7Z+3jcQubAVpXlpCC" 
        ApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAADylwi+bk54Viv5w4ShhIR6MnCRndcCme6lPvWDvcREywAAAAAOgAAAAAIAACAAAAB618cYmvGlujEWfAkED+YAzfL8d9aPS39SGTdZyp+YuFAAAACG7kPSPn3wb2PvhRwqZ7EEYAhzFwIg1n9RC+RmapCPwMbNHae21lknSqKco4rvznwKm3V6bHQtrL6tqG+fY7ySkZYSBXfSd2DHSOtqC2L5CkAAAAB12kQuz+/H4xZLAFfBdmY76l0OTt/Ny/8nHGvScxr5VMjjEPrrZYpINU6h+5lbxDLDDEPfRh/YLHdg2zHQYdj0" 
        PrivateAppDomain="bridge-over-monsters.myshopify.com"                        
        EncryptKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAAAGTtQTPIgPX7VxK2y641zVzS9E8u0hcrPvnTpJrjR70AAAAAAOgAAAAAIAACAAAACO81lmV0kFXmv5l2hcekctPeOPn/ktpPRkukhqIMI/SVAAAAAi63sIcM0J4qzk0/WqGYnJefeN84W6B3Ap0Y4GtRjJ/3QSCA4nJ/3cqVAAq+1HaYqtKjP7/z852MoXnkjea5esi893YK49SICaO2Gzv5N40UAAAACHeJdyTKtSKdn+Hkkv5rOI/MXMzyD94JZcrx2DYsw01VH6jYW1IZgt+6TtbnmKwIwe0FrYOp531vwZBhbqhTuT"                        
        EncryptIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa/YcFijy+EGH8TUtXB7qWAQAAAACAAAAAAAQZgAAAAEAACAAAACSzBuu0BAtYYmUXqYasFc+1S5LqDb3mrEo0wXbMGRAswAAAAAOgAAAAAIAACAAAAB0xWsxXo3RTwwOB7BgRdZgX7AURfDY7miTaTwa+pf9UDAAAADlN3lcp0XVJ1KUY2aRkHi+9oHqaI60iFsr9YEhgyBhnIHDz1DDtjnmID+y02CZnoNAAAAAJJGs5j3q8kPwkwwlgAMIo3uxIM9nSuuk5i+WsfP3WUk7Hdgxh1FxvYKMswnFLenGRuYsEQkgkj3rOOiKxHe2NQ==" />
  
  <!-- Acumatica - Macbook Air -->
  <acumaticaSecurityConfiguration 
        Branch="MYCOMPANY" 
        CompanyName="MyCompany" 
        InstanceUrl="http://localhost/AcuInst2" 
        Username="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/o6B+F4o+US/cIYbnhQCDwQAAAACAAAAAAAQZgAAAAEAACAAAABtcsfZz0dIiTwd7YtFpzoucL1zPR6+Lqwg4OP2tvbNUwAAAAAOgAAAAAIAACAAAAAFx9LJhxrs1fRgJ9FWnKcAbxnvy3QQI/ZhRuAWoovf2BAAAAD/miKTkUGKhPWK8mRCl0ysQAAAAHj0gWifTaGUOtyaJSOa88sFjMnxfwWQDNQAN+FAN7ml+KGb76D/nLNEUedipA5MA1+wO3Tv2V8MaUEPPw3/3sg=" 
        Password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/o6B+F4o+US/cIYbnhQCDwQAAAACAAAAAAAQZgAAAAEAACAAAACdu6+apRyD82XSYCx2+r7yseNBdRHXNrp/DmgiBtcrpAAAAAAOgAAAAAIAACAAAACq+QC/0mLUc2Y3wIidpW9kW3+G2nt0C3Yl5JoT4Mt15CAAAABSDoV2Xhex/xozBDgQy5jgsLnKKG5UmQdaZ1BjGbfi5EAAAAAT2+1aaU4uZzr2JHy9Kl7ZKC6QRcvXnUw1gEQww+fhHrld4YGs4WmGFB1b6d83ou4TKbS7aP64haHaPBwvHaSx"                                               
      />

  <nlog>
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" 
                filename="C:\DEV\Monster\Logs\${logger}.${shortdate}.txt" 
                layout="${longdate}|${level}|${message}" 
                archiveAboveSize="50000000" />
        
        <target type="Console" 
                layout="${message} ${exception:format=tostring}" />
        
        <target type="Debugger" 
                layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>
    
    <rules>
      <logger name="*" minlevel="DEBUG" writeto="Standard.Output" />
    </rules>
  </nlog>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
