<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />    
    
    <section name="monsterConfig" type="System.Configuration.SingleTagSectionHandler" />
    <section name="shopifyHttp" type="System.Configuration.SingleTagSectionHandler" />
    <section name="acumaticaHttp" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />
  </connectionStrings>


  <!-- Monster System Settings -->
  <monsterConfig 
      EncryptKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAADRWqZQjBuwNFTLq322RzCw6iLD42wv3SLlkmOUPw3mbwAAAAAOgAAAAAIAACAAAABHloXVEuYQpGUxwcCvt2OCpPJlBFJsn55f9uV+05yqd1AAAACSFU1hstNkTgO8Pqs61wCIUzRo+aAmE5ilvkBfofPwi0B9QcFwlKBSZSra1eGNgurjEwYekjpiLgh12BQumYrRAodwZjsJvDL8WSmYjOajK0AAAAB9yi0z0LTCPdazhnsOPMtD8gz6/V0jZ9G7X4lLJ42cUAVIfoUcoRzNfT9vPnN7r4cVOxCHjfEg62jxB8KDR6C2" 
      EncryptIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAAB5/CLWqgzNbP5DNSA9Kvm4IqnLDV9WzGNv1l48Mit4LwAAAAAOgAAAAAIAACAAAAC708GhT8S0A8Xa317PLEsa1TiGGHaaG05TZBmes+hDPDAAAAB0dpRuE9mD0WuUkHv0XviFgcMgn+s6lxQhhLNbhL/EDa7nIdPfPUmRs28omk+n5mBAAAAAyj+axrZrklkKhObXDdFcGD7alfTdXTNDOgz9IVaXZbtUZFwkST1GUhZWc448PPK2yM3h61PCHS0T+XqbdUP6Yg==" 
      SystemDatabaseConnection="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />

  <!-- Http Settings -->
  <shopifyHttp RetryLimit="3" Timeout="60000" ThrottlingDelay="500" />

  <acumaticaHttp RetryLimit="3" 
                 Timeout="180000" 
                 ThrottlingDelay="0" 
                 VersionSegment="/entity/Default/17.200.001/" />

  <nlog>
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\DEV\Monster\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000" />
        
        <target type="Console" layout="${message} ${exception:format=tostring}" />
        
        <target type="Debugger" layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>
    
    <rules>
      <logger name="*" minlevel="TRACE" writeto="Standard.Output" />
    </rules>
  </nlog>

  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
