@using Monster.Web.Plumbing

<div class="center std-padding">
    <img style="width: 200px;" src="@GlobalConfig.Url("Content/ShopifySyncWithAcumatica.png")"/>
</div>

<hr/>
<h1 class="mt-5 center">Welcome to Odysseus!</h1>
<p class="lead center">Cloud-based Shopify-to-Acumatica Synchronization</p>

<p>We're going to walk you through a series of steps to enable Odysses to 
    connect your Shopify store with your Acumatica instance. Odysseus is 
    100% cloud-based. Thus, you won't be required to install any software 
    on either platform.</p>

<div class="center std-padding">
    <a href="@GlobalConfig.Url("Config/Preferences")" 
       class="btn btn-success btn-lg">Ok, Let's Get Started
        <i class="fas fa-sign-in-alt"></i>
    </a>
</div>
