@using Monster.Web.Plumbing


<div class="center std-padding">
    <img style="width: 125px;" src="@GlobalConfig.Url("Content/ShopifySyncWithAcumatica.png")" />
</div>

<hr/>


<div>
    <h1 class="mt-5 center">Odysseus Real-Time Mode</h1>
    <p class="lead center">
        Active Synchronization between Shopify and Acumatica
    </p>
</div>

<div class="std-padding">
    <div class="card">
        <div class="card-body std-padding">
            <h5 class="card-title center">Real Time Synchronization Enabled</h5>

            <p>Odysseus is busy working behind the scenes keeping your
                commerce platform and your synchronized.
            </p>
            <p>No more person-hours wasted copying and loading data between systems.
                Now you can focus on growing your business!
            </p>
        </div>
    </div>

    <div class="center std-padding">
        <a href="@GlobalConfig.Url("Config/Preferences")"
           class="btn btn-secondary btn-lg">
            <i class="fas fa-undo"></i> Go Back to Config
        </a>

        <a href="#"
           class="btn btn-primary btn-lg">Jump for Joy!
            <i class="fas fa-bolt"></i>
        </a>
    </div>
</div>

