@using Monster.Web.Plumbing

<main role="main" class="medium-size error-page">
    @Html.Partial("_TopBrand")

    <h1 class="mt-4 center">@GlobalConfig.AppName - HTTP 403 "Forbidden"</h1>
    <p class="lead center">An error occurred while processing your request.</p>

    <p class="center">
        It appears that while you are a valid @GlobalConfig.AppName user, you are not authorized to view that resource.
    </p>
</main>

