@using Monster.Web.Plumbing

<main role="main" class="medium-size error-page">
    @Html.Partial("_TopBrand")

    <h1 class="mt-4 center">@GlobalConfig.AppName - HTTP 500 System Error</h1>
    <p class="lead center">An error occurred while processing your request.</p>

    <p>
        We're sorry, but we've just encountered a Server Fault.
        Once our alerting system notifies us, 
        we'll have that fixed as soon as possible!
    </p>

    <p>
        Please try reloading the page. If the issue persists, 
        reach out through support and we'll gladly provide assistance.
    </p>
</main>

