@using Monster.Web.Plumbing

<main role="main" class="medium-size error-page">
    @Html.Partial("_TopBrand")

    <h1 class="mt-4 center">@GlobalConfig.AppName - HTTP 401 "Unauthorized"</h1>
    <p class="lead center">Invalid authentication credentials.</p>

    <p class="center">
        It appears that you do not have valid @GlobalConfig.AppName account. 
        Please try <a href="@GlobalConfig.LoginPage">logging in again</a>, 
        and if that fails, contact customer support.
    </p>
</main>
