<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monster.Acumatica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AcuInst2/entity/Monster/17.200.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap1"
                contract="TestSoap.DefaultSoap" name="DefaultSoap1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Monster.Acumatica.Properties.Settings>
            <setting name="Monster_Acumatica_BankImportApi_Screen" serializeAs="String">
                <value>http://localhost/AcuInst2/Soap/BANKIMPORT.asmx</value>
            </setting>
        </Monster.Acumatica.Properties.Settings>
    </applicationSettings>
</configuration>