@using Monster.Middle.Processes.Sync.Model.Analysis
@Html.Partial("_PagingWidget")

<script>
    var Monster = Monster || {};
    Monster.MissingField = '@AnalysisExtensions.MissingField';
</script>

<main role="main" class="large-size">
    @Html.Partial("_TopBrand")

    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/KO/OrderSyncAnalyzer.html")))
</main>
