@using Monster.Web.Plumbing

<script type="text/html" id="Job-Running-Spinner">
    <img style="width: 100px;" src="@GlobalConfig.Url("/Content/throbber_12.gif")" />

    <div style="height: 30px;"></div>

    <p class="center">
        There is currently a background job running
    </p>
</script>

<!-- Uses Monster.ExecutionLogModel -->
<script type="text/html" id="Execution-Log-Ticker">
    <div style="font-size:0.9em; color:#555555; text-align:center; padding:15px; letter-spacing: 5px; text-transform: uppercase;">
        Execution Logs
    </div>

    <div data-bind="ifnot: HasLogs">
        <div style="height: 400px; padding-top:150px;" class="empty-grid">
            <h1>Execution logs are currently empty</h1>
        </div>
    </div>

    <div data-bind="if: HasLogs">
        <div style="overflow-y: scroll; height: 400px; text-align: left;">
            <table class="table table-striped">
                <tbody data-bind="foreach: Logs">
                <tr>
                    <td>
                        <div style="font-size: 14px; letter-spacing: 1px; color: #777;">
                            <span data-bind="text: LogTime"></span> (UTC)
                        </div>

                        <div data-bind="text: Content"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="Job-Running-Panel" type="text/html">
    <div class="card">
        <div class="card-body center std-pad">
            <div data-bind="template: { name: 'Job-Running-Spinner' }"></div>
            <hr />
            <div data-bind="template: { name: 'Execution-Log-Ticker' }"></div>
        </div>
    </div>
</script>

<script id="Job-Running-Panel-Borderless" type="text/html">
    <div class="std-pad std-pad-sm-side center">
        <div data-bind="template: { name: 'Job-Running-Spinner' }"></div>
        <hr/>
        <div data-bind="template: { name: 'Execution-Log-Ticker' }"></div>
    </div>
</script>

<script id="Real-Time-Sync-Is-Enabled" type="text/html">
    <div style="margin-left: -15px; margin-right: -15px; color: #999; font-size: 0.9em; font-weight: 700; text-align: center; padding-top: 8px; padding-bottom: 8px; background-color: #F9F9F9;">
        <img style="width: 16px;" src="@GlobalConfig.Url("/Content/throbber_12.gif")"/>
        There is 1 background job running - for details <a href="#">click here</a>.
    </div>
</script>

<script>
    var Monster = Monster || {};
    Monster.ExecutionLogModel = function () {
        var self = this;

        self.Logs = ko.observableArray([]);

        self.HasLogs = ko.computed(function() {
            return self.Logs().length > 0;
        });

        self.Ingest = function (logs) {
            self.Logs(logs);
            // ** TODO - strategically insert and truncate
        };
        return self;
    };
</script>

<script type="text/html" id="Inventory-Not-Pulled-Message">
    <p>
        @GlobalConfig.AppName will now pull your complete catalog of Products and Variants from Shopify,
        and will pull all of your Stock Items from your Acumatica Instance.
    </p>

    <div class="alert alert-warning">
        <strong>Important:</strong> Real-Time Sync will perform this step as well.
        But, you will still need to load Stock Items into Shopify
        and select which to enable for Inventory Synchronization.
    </div>
</script>

