@using Monster.Web.Plumbing
<script type="text/html" id="Execution-Logs">
    <div style="font-size:0.9em; color:#555555; text-align:center; padding:15px; letter-spacing: 5px; text-transform: uppercase;">
        Execution Logs
    </div>

    <div style="overflow-y: scroll; height: 400px; text-align: left;">
        <div data-bind="if: $data.length">
            <table class="table table-striped">
                <tbody data-bind="foreach: $data">
                <tr>
                    <td>
                        <div style="font-size: 14px; letter-spacing: 1px; color: #777;">
                            <span data-bind="text: LogTime"></span> (UTC)
                        </div>
                        <div data-bind="text: Content"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/html" id="Inventory-Not-Pulled-Message">
    <p>
        @GlobalConfig.AppName will now pull your complete catalog of Products and Variants from Shopify,
        and will pull all of your Stock Items from your Acumatica Instance.
    </p>

    <div class="alert alert-warning">
        <strong>Important:</strong> Real-Time Sync will perform this step as well.
        But, you will still need to load Stock Items into Shopify
        and select which to enable for Inventory Synchronization.
    </div>
</script>


