@using Monster.Web.Plumbing
<div class="center std-padding">
    <img style="width: 110px;"
         src="@GlobalConfig.Url("Content/ShopifySyncWithAcumatica.png")" />
    
    <div style="padding-top: 20px;">
        <small class="text-muted">
            <strong>Ulysses Shopify-to-Acumatica Sync Tool</strong>
        </small>
    </div>
</div>