@using Monster.Web.Plumbing
<div class="center" style="padding-top: 20px; padding-bottom:20px;">
    <img style="width: 175px;"
         src="@GlobalConfig.Url("Content/Bridge-logo-1-smaller.jpg")" />   
</div>
