<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Monster System Settings -->
  <monsterConfig
    EncryptKey="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9yNKlAHjAs7yBRpn7FaR6R2wq2K/NIqSsgiP53kiWabajFlVviZxvExUE2DPnsuCFQ="
    EncryptIv="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9wTM2HRgARAu1l55ASOhb/h"
    SystemDatabaseConnection="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />

  <!-- Shopify Http Settings -->
  <shopifyHttp MaxAttempts="3" Timeout="60000" ThrottlingDelay="500" />


  <shopifyCredentials
    xdt:Transform="Replace"
    ApiKey="FK3DmNXZOTJuIp1uOMw5OIpvxnrwSY2ri+lzz5mDLphBOeELVSFhVJIfQQtYTAf8JFlmbhb/7xxqAcpZ+aBuCkK9vyA9hi7Um+/xsBkWo9c="
    ApiPassword="2rzCf7mIjhgShr/2sReJug=="
    ApiSecret="WzD56jUStH6HznNkUJuhFi80gAXZYz14/+ESVJeadZrIY/XB6agdxbbmrxE4WbFvqmaDBc6+yIDi3sYbetqqd0BkMxCgPLIzaz8sTKDomWg="
    Domain="" />


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
