<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Monster System Settings -->
  <monsterConfig
      xdt:Transform="Replace"
      EncryptKey="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9yNKlAHjAs7yBRpn7FaR6R2wq2K/NIqSsgiP53kiWabajFlVviZxvExUE2DPnsuCFQ="
      EncryptIv="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9wTM2HRgARAu1l55ASOhb/h"
      SystemDatabaseConnection="Server=localhost; Database=BSA01System; Trusted_Connection=True;" />
  
  <!-- HangFire uses this for Connection String -->
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Server=localhost; Database=BSA01System; Trusted_Connection=True;" />
  </connectionStrings>

  <!-- Shopify App - Acumatica Bridge - SANDBOX -->
  <shopifyCredentials
        xdt:Transform="Replace"
        ApiKey="RZ+PWzsgAJO8N83ge/6lJMnfXy0vTedeOmkk49k6OL3Mv+duHKCnofONG6/2ld7Gj9SWEGoZmmpFEJE+uwtUagXO5TKnroLM/f8uNiqqNio="
        ApiPassword="2rzCf7mIjhgShr/2sReJug=="
        ApiSecret="OfysgvCjYiKJyRf5xKUL2aqGHN3+zNI6JChp8HVowf8k+c11VmLbhaS/uxrJHh9FzXOH3miXU4v37dmU3cvhn0bu70JWsBuQRzDq6lNVF/k="
        Domain="" />

  <!-- Shopify Http Settings -->
  <shopifyHttp xdt:Transform="Replace"
               MaxAttempts="3" Timeout="60000" ThrottlingDelay="500" />
  
  <!-- Acumatica Http Settings -->
  <acumaticaHttp xdt:Transform="Replace"
                 MaxAttempts="1" Timeout="180000" ThrottlingDelay="0" VersionSegment="/entity/Default/18.200.001/" />

  <nlog xdt:Transform="Replace">
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\BSA01\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000" />
        <target type="Console" layout="${message} ${exception:format=tostring}" />
        <target type="Debugger" layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="TRACE" writeto="Standard.Output" />
    </rules>
  </nlog>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
