<?xml version="1.0"?>

<!-- NOTE: this is superfluous, since local development always uses Web.config without transforms -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Monster System Settings -->
  <monsterConfig xdt:Transform="Replace"
      EncryptKey="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9yNKlAHjAs7yBRpn7FaR6R2wq2K/NIqSsgiP53kiWabajFlVviZxvExUE2DPnsuCFQ="
      EncryptIv="BDhBzfdH6gsQa5BLOB2ZRNlY4tHCdzA4/Ul8Pop3t9wTM2HRgARAu1l55ASOhb/h"
      SystemDatabaseConnection="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />
  
  <!-- Shopify Http Settings -->
  <shopifyHttp xdt:Transform="Replace"
      MaxAttempts="3" Timeout="60000" ThrottlingDelay="500" />

  <!-- Shopify Configuration for OAuth authorization -->
  <shopifyCredentials
      xdt:Transform="Replace"
      ApiKey="O4Xqx2Jc/o8b/LRpKrqPy0nSdhH3kvSZHz3YarZNO5ggukBzt8hjGZ1twrOvzgRUbNp9CPvqBMjEUmK2zl++njjZaYVg2qfRkXiBPXvplnU="
      ApiPassword="2rzCf7mIjhgShr/2sReJug=="
      ApiSecret="u6tGL9kLl48XsdHu3SeqNYhnVRnt9eDAkl4QdH04qJNKfxbWmIoKPNc1zpPW4LFrJyNgPYAxwpQuoSHqn1Wn6TZS2EeeId4pDrOztamh2+M="
      Domain="" />

  <!-- Acumatica Http Settings -->
  <acumaticaHttp
      xdt:Transform="Replace"
      MaxAttempts="1"
      Timeout="180000"
      ThrottlingDelay="0"
      VersionSegment="/entity/Default/18.200.001/" />
  
  <!-- HangFire uses this for Connection String -->
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />
  </connectionStrings>

  <system.web>
  </system.web>
</configuration>
