<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    <section name="monsterConfig" type="System.Configuration.SingleTagSectionHandler" />

    <section name="shopifyHttp" type="System.Configuration.SingleTagSectionHandler" />
    <section name="shopifyCredentials" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="application_root_url" value="https://ulysses-local.com/Ulysses/" />
    <add key="application_name" value="Ulysses" />
  </appSettings>
  
  <!-- Monster System Settings -->
  <monsterConfig 
    EncryptKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAADRWqZQjBuwNFTLq322RzCw6iLD42wv3SLlkmOUPw3mbwAAAAAOgAAAAAIAACAAAABHloXVEuYQpGUxwcCvt2OCpPJlBFJsn55f9uV+05yqd1AAAACSFU1hstNkTgO8Pqs61wCIUzRo+aAmE5ilvkBfofPwi0B9QcFwlKBSZSra1eGNgurjEwYekjpiLgh12BQumYrRAodwZjsJvDL8WSmYjOajK0AAAAB9yi0z0LTCPdazhnsOPMtD8gz6/V0jZ9G7X4lLJ42cUAVIfoUcoRzNfT9vPnN7r4cVOxCHjfEg62jxB8KDR6C2" 
    EncryptIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAAB5/CLWqgzNbP5DNSA9Kvm4IqnLDV9WzGNv1l48Mit4LwAAAAAOgAAAAAIAACAAAAC708GhT8S0A8Xa317PLEsa1TiGGHaaG05TZBmes+hDPDAAAAB0dpRuE9mD0WuUkHv0XviFgcMgn+s6lxQhhLNbhL/EDa7nIdPfPUmRs28omk+n5mBAAAAAyj+axrZrklkKhObXDdFcGD7alfTdXTNDOgz9IVaXZbtUZFwkST1GUhZWc448PPK2yM3h61PCHS0T+XqbdUP6Yg==" 
    SystemDatabaseConnection="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />


  <!-- Http Settings -->
  <shopifyHttp RetryLimit="3" Timeout="60000" ThrottlingDelay="500" />


  <!-- Ulysses Configuration for OAuth - Macbook Air -->
  <shopifyCredentials
    ApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAADtQRisWLuxaao9ZRvcmXkdIY5Sm0p/TMNnAevFg3ZmyAAAAAAOgAAAAAIAACAAAADfpVBrBWQzsIRVCYiglNGKZRI1xHDDqpCxTOnKkELLmlAAAAAKGM3HJgypjQ37xcmgCqE4kcMvVAqhTQpjjahlhIr6rjx1pvb/15rODLq9OBltG45NKAKuBu/u8VPC+Uifj6fFm71cfUOWjkmIJI45dLr5EUAAAADxZzLn8AIthpeRp2j7A/MFDfxK1MvjhaaTBiwLrShHpq/p1UE6WX1AqKC84Pk7CcQANxxCbY40bvmto5OlcG1p"
    ApiPassword="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAAB2cSyB5eOCqnLzwIiFJKIYxo/7w8mAd1l+IUt1JzcuFQAAAAAOgAAAAAIAACAAAACtlnv8sq+rNpGIT/4ZLPNPoCU1K5UycI/sZjnwrXcFQRAAAAC5t2Pnh8aTplkoyU/XJycnQAAAAEuF+MGxoPpXhHhbNtKRhQ6kca2qf54uNhXicDBJytg4aeDf/9r4nv/T4WvY56RXPMY8Puim+yUGW5CEzw5hhDs="
    ApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu9sxSRkeRE6G3negR10KZAQAAAACAAAAAAAQZgAAAAEAACAAAACVjS5soR2yVgMa+N5sGxEDL9u6Q2SY9Ib1RrpdNwwxUgAAAAAOgAAAAAIAACAAAAAn0sd7eG0xsH4V5YfBo5eWIekgKRNFFkl/AJ+1ak80q1AAAAD4EQOyYWv9rnRCwepbop86iSZxbVJIaRFndzNswrma8FyF0ae+Q5INf68OwoBn25ZcR1N4uTQ3qpLUHO3fk/STamyKp4Zi9Qcs5PJecyiMiUAAAABEdhf7B7EtkbNCYBFdUvoLcTwIOaJn+FrTdPH8+mFgheCEh+feAl1M6kp1WC/3Gi/Wo2v5m0k15kADANcUI8Ef"
    Domain="** No Private App **" />

  <!-- HangFire uses this for Connection String -->
  <connectionStrings>
    <add name="DefaultConnection" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />
  </connectionStrings>


  <nlog>
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\DEV\Monster\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000" />

        <target type="Console" layout="${message} ${exception:format=tostring}" />

        <target type="Debugger" layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="TRACE" writeto="Standard.Output" />
    </rules>
  </nlog>
  

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules />
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>