<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings 
    xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="application_root_url" value="https://bsa01.logicautomated.com" />
    <add key="application_name" value="Bridge" />
    <add key="demodata" value="demodata" />
  </appSettings>

  <!-- Monster System Settings -->
  <monsterConfig
        xdt:Transform="Replace"
        EncryptKey="FFyziDlyAA9VrLFJ2xi+lOkQYVPB4SnEej+PXRORh/tbXFW2xSyNhY2+O9O2681wpzvsRZBnih8HSqV7x/C0VpU638fMD2h9+ujM9Ic4nlQ="
        EncryptIv="8Q3S8BkNVBZ4168aWK0oieWJOf+xT+w6/wMeMEe0+Nh6WEn0qO5mj0CGcrfQfmdw"
        SystemDatabaseConnection="Server=localhost; Database=BSASystem; Trusted_Connection=True;"
      />

  <!-- HangFire uses this for Connection String -->
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Server=localhost; Database=BSASystem; Trusted_Connection=True;" />
  </connectionStrings>

  <!-- Shopify App - Acumatica Bridge - SANDBOX -->
  <shopifyCredentials
      xdt:Transform="Replace"
      ApiKey="RZ+PWzsgAJO8N83ge/6lJMnfXy0vTedeOmkk49k6OL3Mv+duHKCnofONG6/2ld7Gj9SWEGoZmmpFEJE+uwtUagXO5TKnroLM/f8uNiqqNio="
      ApiPassword="2rzCf7mIjhgShr/2sReJug=="
      ApiSecret="OfysgvCjYiKJyRf5xKUL2aqGHN3+zNI6JChp8HVowf8k+c11VmLbhaS/uxrJHh9FzXOH3miXU4v37dmU3cvhn0bu70JWsBuQRzDq6lNVF/k="
      Domain="nodomain.myshopify.com" />

  <!-- Shopify Http Settings -->
  <shopifyHttp xdt:Transform="Replace"
               MaxAttempts="3" Timeout="60000" ThrottlingDelay="500" />
  
  <!-- Acumatica Http Settings -->
  <acumaticaHttp xdt:Transform="Replace"
                 MaxAttempts="1" Timeout="180000" ThrottlingDelay="0" VersionSegment="/entity/Default/18.200.001/" />

  <nlog xdt:Transform="Replace">
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\BSA\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000" />
        <target type="Console" layout="${message} ${exception:format=tostring}" />
        <target type="Debugger" layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="TRACE" writeto="Standard.Output" />
    </rules>
  </nlog>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
