<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    <section name="monsterConfig" type="System.Configuration.SingleTagSectionHandler" />

    <section name="shopifyHttp" type="System.Configuration.SingleTagSectionHandler" />
    <section name="shopifyCredentials" type="System.Configuration.SingleTagSectionHandler" />
    <section name="acumaticaHttp" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="application_root_url" value="https://ulysses-local.com/Ulysses/" />
    <add key="application_name" value="Bridge" />
    <add key="demodata" value="demodata" />
  </appSettings>
  
  <!-- Monster System Settings -->
  <monsterConfig
      EncryptKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQP3S6yXPHkac/Tp+jmVYiQQAAAACAAAAAAAQZgAAAAEAACAAAABEoQCQ7oYuiZKaTih371kwBpahy81L7+bw26a55TfOcQAAAAAOgAAAAAIAACAAAADTL3j/2pv3Td+CknRigaQ81LpXCxQXnjt3bFrWUWMfBlAAAADVWgDanL11TKC0WzQfakHw/9/JekIKA6Pp/lVSA7b7wj6E6ivO8MXZZnxTdpj/VZlMGWCA+iaxQWq/PQoXuEKypPwSz+u6CAogc4xjlOM8okAAAABd4JKO9QCp08sdxwxP6d1DJa8RQp6vm3Ky82Xc2TFnDXLlzSJw00qnBNiJQJnkKtVuu9EeFs7zzelB3TBAZlCY"
      EncryptIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQP3S6yXPHkac/Tp+jmVYiQQAAAACAAAAAAAQZgAAAAEAACAAAACetV740TO93Zd98NZz19AEM6neyD2htE8z7USubRwVUgAAAAAOgAAAAAIAACAAAADCLGUpsVBeZr4PMr6SfcOp75BcnlgVe/Y0sQxN9KLgZzAAAAAVsTMuj5A8t0XKoRlrKmZHGCwourLQlI4VKXxif22QIabwSqg4tEKrBtbR9F1Avi9AAAAAm8DVmlXpP8GzkJtcdwrzl9gluQQymNWjbRuYPjhl2tlnBPJvhc0LC4iitdbxlL4GlyXoq7MdexlUo+T4dXTV1A=="
      SystemDatabaseConnection="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />

  <!-- Shopify Http Settings -->
  <shopifyHttp MaxAttempts="3" Timeout="60000" ThrottlingDelay="500" />

  <acumaticaHttp MaxAttempts="1" Timeout="180000" ThrottlingDelay="0" VersionSegment="/entity/Default/17.200.001/" />


  <!-- Shopify Configuration used strictly for OAuth - Macbook Air -->
  <shopifyCredentials
      ApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQP3S6yXPHkac/Tp+jmVYiQQAAAACAAAAAAAQZgAAAAEAACAAAACAmv4vXIbwhVy8lJX7yT1p9fIi+foOmhPJZun74j0HlQAAAAAOgAAAAAIAACAAAADxqdBWGa+8F7U6DvNIF3kHi3mUF7lAwD7l76tUbmnEHlAAAADmO9V2coLKT70ifyvH004ya9OzLVnnVggXMxOwK/w5eO+kzBI7mknVyaKJdIkCl56Mh2l/2slocPmHOhOY2puzD3Ib4d8VGJhVRVGjSvzdxEAAAACVk+jrQwmd8utcfHAD4dBoEqxpmCMdqQZ30cNogibUmr/H2j7Foquxu+qE8QTxSVXrOCQa1NsWKxod9w7vf4AF"
      ApiPassword="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQP3S6yXPHkac/Tp+jmVYiQQAAAACAAAAAAAQZgAAAAEAACAAAABpRKsvSnANGVwrkaYyuzGdN4CGP53NFd4o8ABXm+YsEQAAAAAOgAAAAAIAACAAAACMReo5Y+3dmHTMXQBCk/D3wsdBi4lpZja1Bglf67FSsRAAAAAdB/zQD7ZvGzG1dfk9pRG+QAAAAF1d4d45H7jyrdjH9+3PGUZdmVMjnKzNNsFYCWxJkmghOSZZtTDkLRp5cHquaRaH5I0oy4HGyBThayo7DFrpGlQ="
      ApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQP3S6yXPHkac/Tp+jmVYiQQAAAACAAAAAAAQZgAAAAEAACAAAAA80FMOK/iUWx7fINj6lKERpiNPXw9YPrGr1r/iJVcYYwAAAAAOgAAAAAIAACAAAAC0ftdframK7b9bu8qJLE0fFCXBBmDQ8j71ALLW9okJM1AAAAAtP5STfJ1+dD3FyrtUEkpENnqbbtOkG7qE7S2Gap+PLOviBL8+Br7rEbUJ3TezFGKBZxC+m7oYE41plhyhrQRA+aPVkFA1DXt+AnD1JwQt4EAAAACOgEpHqWaNY3s/zVp6ZeEU3A84sYI42dTN1iAEtHS4hT/RZyWLj3QrmHtWPbTry2E4fHQz1/EnfxofS2irO7cV"
      Domain="bridge-over-monsters.myshopify.com" />
  
  <!-- HangFire uses this for Connection String -->
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost; Database=MonsterSys; Trusted_Connection=True;" />
  </connectionStrings>


  <nlog>
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\DEV\Monster\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000" />

        <target type="Console" layout="${message} ${exception:format=tostring}" />

        <target type="Debugger" layout="${message} ${exception:format=tostring}" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="TRACE" writeto="Standard.Output" />
    </rules>
  </nlog>
  

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules />
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>